# This workflow will publish a Python Package to PyPI when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

name: Publish

on:
  release:
    types: [ published ]

permissions:
  contents: read

jobs:
  publish:
    if: github.repository == 'EndstoneMC/python-plugin-template'
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build sdist
        run: pipx run build --sdist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
